.container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text {
    color: white;
    font-family: Montserrat;
    font-size: 65px;
}

.highlight {
    color: aqua;
}